@import url(./icons_styles.css);
@font-face {
    font-family: 'VAGRoundedStd-Thin';
    src: url(./assets/fonts/VAGRoundedStd-thin.eot);
    src: url(./assets/fonts/VAGRoundedStd-thin.eot?#iefix) format('embedded-opentype'), url(./assets/fonts/VAGRoundedStd-Thin.woff) format('woff'), url(./assets/fonts/VAGRoundedStd-Thin.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VAGRoundedStd-Bold';
    src: url(./assets/fonts/VAGRoundedStd-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --dark-green: #007934;
    --green: #36A21D;
    --light-green: #7BB928;
    --yellow: #D4B012;
    --blue: #0D728E;
    --light-grey: #F6F6F6;
    --grey: #B9BBBB;
    --dark-grey: #707070;

    --box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 12px rgba(0, 0, 0, 0.1);
    --box-shadow-hedaer: box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* HEADER */

.header-container{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    Height:  85px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title__header{
    font-family: 'VAGRoundedStd-Bold';
    font-style: normal;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    color: var(--dark-green);
    margin-right: 2%;
    margin-left: 5%;
}

.line__header{
    width: 2px;
    height: 47px;
    background-color: var(--grey);
    margin-right: 2%;
}

.logo__header{
    Width: 125px;
}

/* MAIN */
.title__main{
    font-family: 'VAGRoundedStd-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.6rem;
    color: var(--dark-grey);
    margin: 2% 1% 1% 4%;
}

.cards__main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 2% 5.5%;
    cursor: pointer;
}
  
.card-container {
    background-color: var(--light-grey);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 12px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    Height: 250px;
    Left: 425px;
    margin-bottom: 7%;
}
  
.card-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0px 3px 12px rgba(0, 0, 0, 0.1);
}

.top__card{
    background-color: white;
    gap: 6px;
    border-radius: 20px 20px 0px 0px;
    padding: 16px 12px 8px;
    height: 135px;

}

.bottom__card{
    text-align: left;
    padding: 8px 8px 10px;
}

.title__card{
    font-family: 'VAGRoundedStd-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.6rem;
    color: var(--dark-green);
}

.description__card{
    font-family: 'VAGRoundedStd-Thin';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--dark-grey);
}



.container_separacionEnergia {
    width: 100%;

}

}
.head_content {
    display: flex;
    align-items: center;
}

.head_content .title__main {
    color: var(--yellow);
}
.head_content2 .title__main {
    color: var(--dark-grey);
    font-size: 1.5rem;
    margin: 2% 1% 1% 13%;
}
.bulb {
    width: 2rem;
}

.route {
    display: flex;
    justify-content: space-between;
    font-family: 'VAGRoundedStd-Thin';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.4rem;
    margin: 0 1% 2% 4%;
}


span {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.link_inicio {
    display: flex;
    color: #007934;
    text-decoration-line: underline;
}

.link_inicio a:visited {
    color: #007934; 
} 

.arrow_r {
    width: 4%;
}

.arrow_l {
    width: 6.7%;
}

.house {
    width: 2rem;
}

.in_contrato {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'VAGRoundedStd-Bold';
    gap: 1rem;
    font-style: normal;
}

.subt_contrato {
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 3%;
    line-height: 1.7rem;
    color: var(--dark-grey);
}

.calculadora {
    justify-content: center;
    margin: 1%;
}

.calculadora_content {
    background-color: var(--light-grey);
    padding: 0.5rem;
    border-radius: 1rem;
}

.number, .imagen {
    width: 2.5rem;
    height: 2.5rem;
    font-family: 'VAGRoundedStd-Bold';
    cursor: pointer;
    border-radius: 2rem;   
    font-size: 2rem;
    border: none;
    background-color: #ffffff;
    justify-content: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 12px rgba(0, 0, 0, 0.1);
    color: var(--dark-green);
    box-sizing: border-box;
}

.imagen img{
    width: 1.8rem;
    padding-right: .4rem;
}

.function {
    font-family: 'VAGRoundedStd-Bold';
    background-color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.7rem;
    border-radius: 2rem;
    box-sizing: border-box;
    height: 2.5rem;
}

button:active {
    background-color: var(--grey);
    transition: filter .5s;
    color: #ffffff;
}

button:focus {
    outline: none;
}

.cancelar { 
    border: 2.04334px solid var(--grey);
    color:var(--dark-grey);
    padding: .3rem .3rem;
    
}

.link_cancelar:visited {
    color:var(--dark-grey);
}

.borrar { 
    border: 2.04334px solid var(--dark-green);
    color: var(--dark-green);
    padding: .2rem 0;
}

.continuar {
    border: none;
    background-color: var(--green);
    color: #ffffff;
    padding: .3rem .3rem .3rem .3rem;
}

.display {
    font-family: 'VAGRoundedStd-Thin';
    font-weight: bold;
    background-color: #ffffff;
    width: 100%;
    height: 2.5rem;
    grid-column: 1/-1;
    padding-right: 4%;
    text-align: right;
    border-radius: 2rem;
    font-size: 2rem;
    border: 3px solid var(--dark-green);
    
}

.select_factura {
    display: flex;
}

.energy_card,
.water_card,
.gas_card,
.state_card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 12px rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
    padding: 2rem 1rem;
    margin: .4rem;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    justify-content: center;    
}

.energy_card:hover,
.water_card:hover,
.gas_card:hover,
.state_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0px 3px 12px rgba(0, 0, 0, 0.1);
}

.energy_card {
    background-color: var(--yellow);
}

.water_card {
    background-color: var(--blue);
}

.gas_card {
    background-color: var(--light-green);
}

.state_card {
    background-color: var(--dark-green);
}

.link_card {
    align-items: center;
    justify-content: center;
    margin: auto;
}

.select_factura div a img {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
}

.select_factura div a p {
    font-size: 1.6rem;
    color: #ffffff;
}


/* cupones factura*/
.cupones-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
    .cupones-container .title__main {
        font-size: 1.5rem;
        color: var(--dark-grey);
        margin: 1% 1% 1% 1%;
    }
    .cupones-container .stitle-cupon {
        width: 100%;
        font-family: 'VAGRoundedStd-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 4rem;
        line-height: 0rem;
        color: var(--green);
        margin: 1% 1% 1% 1%;
    }
.stitle-cupon {
    width: 100%;
    font-family: 'VAGRoundedStd-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 0rem;
    color: var(--green);
    margin: 1% 1% 1% 13%;
}

/*Enviar correo*/
.teclado {
    justify-content: center;
}

.teclado_content {
    background-color: var(--light-grey);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    padding: 0.5rem;
    gap: .5rem;
    border-radius: 1rem;
}
    .teclado_content .correos {
        font-family: 'VAGRoundedStd-Bold';
        cursor: pointer;
        border-radius: 2rem;
        font-size: 2rem;
        border: none;
        background-color: #ffffff;
        justify-content: center;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 12px rgba(0, 0, 0, 0.1);
        color: var(--dark-green);
        box-sizing: border-box;
        grid-column:span 4;
        /*grid-template-columns: 1fr 1fr 3fr;*/
    }
.eCorreo {
    border: none;
    background-color: var(--dark-green);
    color: #ffffff;
    padding: 15px 28px 15px 24px;
    border-radius: 8px;
    left: 10%
}
.botones {
    display: flex;
    margin-top: 1%;
}

.numeros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto;
    grid-gap: .2rem;
}

.otros {
    display: grid;
    align-items: center;
    margin: 0 2%;
    grid-gap: .2rem;
}

.cero {
    display: flex;
    justify-content: center;
    grid-column: 1/4;
}