@import url(./icons_styles.css);
@font-face {
    font-family: 'VAGRoundedStd-Thin';
    src: url(./assets/fonts/VAGRoundedStd-thin.eot);
    src: url(./assets/fonts/VAGRoundedStd-thin.eot?#iefix) format('embedded-opentype'), url(./assets/fonts/VAGRoundedStd-Thin.woff) format('woff'), url(./assets/fonts/VAGRoundedStd-Thin.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VAGRoundedStd-Bold';
    src: url(./assets/fonts/VAGRoundedStd-Bold.otf);
    font-weight: normal;
    font-style: normal;
}