<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Enviar correo</title>
</head>

<body>

    <header class="header-container">

        <h2 class="title__header">
            
            Módulos de auto gestión
        
        </h2>

        <span class="line__header"></span>

        <img class="logo__header" src="../assets/images/LogoEPM.svg" alt="epm-logo">

    </header>

    <main class="main-container">


        <div class="head_content2">
            <h1 class="title__main">Me gustaría recibir el comprobante de esta transaccion por:</h1>
        </div>


        <div class="route">
            <span></span>
            <span class="link_inicio"> <img class="arrow_l" src="../assets/images/flecha-izquierda.png" /> <a href="../index.html">Volver</a> <img class="house" src="../assets/images/Casa.svg" /> <a href="../index.html">Ir a inicio</a></span>
        </div>

     

            <div class="stitle-cupon"> <button class="button eCorreo"><img src="../assets\images/emailWhite.png" height="25" width="25" /><a> Correo electronico</a></button></div>


      
        <div class="cupones-container">
            <div class="teclado">
                <div class="teclado_content">
                    <div class="display" id="display">ㅤ</div>
                    <button class="button number" id="1">1</button>
                    <button class="button number" id="2">2</button>
                    <button class="button number" id="3">3</button>
                    <button class="button number" id="4">4</button>
                    <button class="button number" id="5">5</button>
                    <button class="button number" id="6">6</button>
                    <button class="button number" id="7">7</button>
                    <button class="button number" id="8">8</button>
                    <button class="button number" id="9">9</button>
                    <button class="button number" id="0">0</button>
                    <button class="button number" id="undo"><img src="../assets\images/Vector (Stroke).png" height="22" width="25" /></button>
                    <a class="link_continuar" href="#"><button class="button function continuar">Enviar</button></a>
                    <button class="button number" id="Q">Q</button>
                    <button class="button number" id="W">W</button>
                    <button class="button number" id="E">E</button>
                    <button class="button number" id="R">R</button>
                    <button class="button number" id="T">T</button>
                    <button class="button number" id="Y">Y</button>
                    <button class="button number" id="U">U</button>
                    <button class="button number" id="I">I</button>
                    <button class="button number" id="O">O</button>
                    <button class="button number" id="P">P</button>
                    <button class="button number" id=".">.</button>
                    <button class="button function borrar" id="clear">Borrar</button>
                    <button class="button number" id="-">-</button>
                    <button class="button number" id="A">A</button>
                    <button class="button number" id="S">S</button>
                    <button class="button number" id="D">D</button>
                    <button class="button number" id="F">F</button>
                    <button class="button number" id="G">G</button>
                    <button class="button number" id="H">H</button>
                    <button class="button number" id="J">J</button>
                    <button class="button number" id="K">K</button>
                    <button class="button number" id="L">L</button>
                    <button class="button number" id="Ñ">Ñ</button>
                    <a class="link_cancelar" href="./separacionFacturas.html"><button class="button function cancelar" id="cancel">Cancelar</button></a>
                    <button class="button number" id="_">_</button>
                    <button class="button number" id="(">(</button>
                    <button class="button number" id=")">)</button>
                    <button class="button number" id="Z">Z</button>
                    <button class="button number" id="X">X</button>
                    <button class="button number" id="C">C</button>
                    <button class="button number" id="V">V</button>
                    <button class="button number" id="B">B</button>
                    <button class="button number" id="N">N</button>
                    <button class="button number" id="M">M</button>
                    <button class="button number" id="@">@</button>
                    <button class="button number" id=",">,</button>
                
                     <button class="button correos" id="@gmail.com">@gmail.com</button>
                     <button class="button correos" id="@hotmail.com">@hotmail.com</button>
                     <button class="button correos" id="@yahoo.com">@yahoo.com</button>
                   

                </div>
            </div>
        </div>

    </main>
    <script src="../scripts/funcionTecladoSeparacionEnergia.js"></script>

</body>

</html>