<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Generar cupon</title>
</head>

<body>

    <header class="header-container">
        <h2 class="title__header">Módulos de auto gestión</h2>
        <span class="line__header"></span>
        <img class="logo__header" src="../assets/images/LogoEPM.svg" alt="epm-logo">
    </header>

    <div class="route">
        <span>Inicio <img class="arrow_r" src="../assets/images/flecha-derecha.png">Separación de facturas<img class="arrow_r" src="../assets/images/flecha-derecha.png">Energía</span>
        <span class="link_inicio"> <img class="arrow_l" src="../assets/images/flecha-izquierda.png" /> <a href="./ayuda-planeta.html">Volver</a> <img class="house" src="../assets/images/Casa.svg" /> <a href="../index.html">Ir a inicio</a></span>
    </div>

    <main class="support-container">
        <h1 class="separacion_energia">Separación de facturas de energía<img class="bulb" src="../assets/images/EnergíaAmarillo.svg" /></h1>
        <div class="in_contrato">

            <div class="cupones-container">
                <div class="stitle-cupon">
                    <h3 class="title__main">El cupón a generar corresponde al contrato número</h3>
                </div>
            </div>

            <div class="cupones-container">
                <div class="stitle-cupon">
                    <h2 class="stitle-cupon">278367274</h2>
                </div>
            </div>
        </div>
    </main>


</body>

</html>