<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Generar cupon</title>
</head>

<body>

    <header class="header-container">

        <h2 class="title__header">
            
            Módulos de auto gestión
        
        </h2>

        <span class="line__header"></span>

        <img class="logo__header" src="../assets/images/LogoEPM.svg" alt="epm-logo">

    </header>

    <main class="main-container">


        <div class="head_content">
            <h1 class="title__main">Generar cupón facturas energía <img class="bulb" src="../assets/images/EnergíaAmarillo.svg" /></h1>
        </div>


        <div class="route">
            <span>Inicio <img class="arrow_r" src="../assets/images/flecha-derecha.png"> Separación de facturas<img class="arrow_r" src="../assets/images/flecha-derecha.png"> Energia</span>
            <span class="link_inicio"> <img class="arrow_l" src="../assets/images/flecha-izquierda.png" /> <a href="../index.html">Volver</a> <img class="house" src="../assets/images/Casa.svg" /> <a href="../index.html">Ir a inicio</a></span>
        </div>

        <div class="cupones-container">

            <div class="stitle-cupon"> <h3 class="title__main">El cupón a generar corresponde al contrato número</h3> </div>


        </div>
        <div class="cupones-container"><div class="stitle-cupon"><h1 class="stitle-cupon">278367274</h1> </div>
        </div>

    </main>


</body>

</html>