<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Separación de facturas</title>
</head>

<body>
    <header class="header-container">
        <h2 class="title__header">Módulos de auto gestión</h2>
        <span class="line__header"></span>
        <img class="logo__header" src="../assets/images/LogoEPM.svg" alt="epm-logo">
    </header>
    <main class="main-container">

        <div>
            <h1 class="title__main">Separación de facturas</h1>
        </div>

        <div class="route">
            <span>Inicio <img class="arrow_r" src="../assets/images/flecha-derecha.png"> Separación de facturas</span>
            <span class="link_inicio"> <img class="arrow_l" src="../assets/images/flecha-izquierda.png" /> <a href="../index.html">Volver</a> <img class="house" src="../assets/images/Casa.svg" /> <a href="../index.html">Ir a inicio</a></span>
        </div>

        <div class="in_contrato">    
            <h4 class="subt_contrato">Selecciona el servicio que deseas separar</h4>
            <div class="select_factura">
                <div class="energy_card">
                    <a class="link_card" href="../views/separacionEnergia.html">
                        <img src="../assets/images/Energía.svg">
                        <p>Energía</p> 
                    </a>
                </div>

                <div class="water_card">
                    <a class="link_card" href="#">
                        <img src="../assets/images/Aguas.svg">
                        <p>Agua</p>
                    </a>
                </div>
                
                <div class="gas_card">
                    <a class="link_card" href="#">
                        <img src="../assets/images/Gas.svg">
                        <p>Gas</p>
                    </a>
                </div>

                <div class="state_card">
                    <a class="link_card" href="# "><img src="../assets/images/estado cuenta somos.svg">
                       <p>Somos</p>
                    </a>
                </div>                
            </div>        
    </main>
</body>

</html>
